<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

    </ul>

    <!-- SEARCH FORM -->

    <!-- Right navbar links -->


    <ul class="navbar-nav ml-auto nav-sidebar">

        <li class="nav-item ">
            <a class="nav-link" href="/home" role="button">
                <i class="fas fa-home"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/professionals" role="button">
                <i class="fas fa-graduation-cap"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jobOffers" role="button">
                <i class="fas fa-suitcase"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/messages" role="button">
                <i class="fas fa-comments"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_posts" role="button">
                <i class="fas fa-book"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout" role="button">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>



    </ul>
</nav>
<!-- /.navbar -->