<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3 col-lg-3">
        <div class="input-group input-group-sm col-12">
            <input class="form-control form-control-navbar " type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->


    <ul class="navbar-nav ml-auto nav-sidebar">

        <li class="nav-item ">
            <a class="nav-link" href="/home" role="button">
                <i class="fas fa-home"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/professionals" role="button">
                <i class="fas fa-graduation-cap"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jobOffers" role="button">
                <i class="fas fa-suitcase"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/messages" role="button">
                <i class="fas fa-comments"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_posts" role="button">
                <i class="fas fa-book"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout" role="button">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>



    </ul>
</nav>
<!-- /.navbar -->