{% load static %}
{% load i18n %}

<!-- main-sidebar elevation-4 sidebar-light-info -->
<aside class="main-sidebar elevation-4 sidebar-light-info ">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <img src="{% static 'lib/adminlte-3.0.4/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <!-- Sidebar -->

    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->


        <div class="card-primary ">
            <div class="card-body box-profile">
                <div class="text-center">
                    {% if request.professional.profile_picture %}
                        <a href="/user/user-profile/">
                            <img class="profile-user-img img-fluid img-circle" img-size-64
                                 src="{{ request.professional.profile_picture.url }}" alt="User profile"></a>
                    {% else %}
                        <a href="/user/user-profile/">
                            <img class="profile-user-img img-fluid img-circle" img-size-64
                                 src="{% static 'lib/adminlte-3.0.4/img/user-default.jpg' %}" alt="User profile"></a>
                    {% endif %}
                </div>
                <div class="info text-center">
                    <a href="/user/user-profile/"
                       class="d-block big">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                    {% if request.user.profession %}
                        {% for profession in request.user.profession %}
                            <a class="d-block">{{ profession }}</a>

                        {% endfor %}
                    {% else %}
                        <a class="d-block">{%  trans "You have not registered professions." %} </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->


                <li class="nav-item user-panel  mt-0 pb-1 ">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>{%  trans "Home" %}  </p>
                    </a>
                </li>

                <li class="nav-item user-panel    mt-2 pb-1 ">
                    <a href="/professionals" class="nav-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p> {%  trans "Professionals" %} </p>
                    </a>
                </li>

                <li class="nav-item user-panel mt-2 pb-1 ">
                    <a href="/employments" class="nav-link">
                        <i class="nav-icon fas fa-suitcase"></i>
                        <p> {%  trans "Employments" %} </p>
                    </a>
                </li>
                <li class="nav-item user-panel mt-2 pb-1 ">
                    <a href="/messages" class="nav-link">
                        <i class="nav-icon fas fa-comments"></i>
                        <p> {%  trans "Messages" %} </p>
                    </a>
                </li>
                <li class="nav-item user-panel mt-2 pb-1 ">
                    <a href="/notifications" class="nav-link">
                        <i class="nav-icon fas fa-bell"></i>
                        <p> {%  trans "Notifications" %} </p>
                    </a>
                </li>
                <li class="nav-item user-panel mt-2 pb-1 ">
                    <a href="/my_posts" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p> {%  trans "My posts" %} </p>
                    </a>
                </li>
                <li class="nav-item user-panel mt-2 pb-1 ">
                    <a href="/logout" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p> {%  trans "Logout" %} </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

