{% extends "format/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{%static 'lib/adminlte-3.0.4/css/adminlte.min.css'%}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{%static 'lib/adminlte-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css'%}">
<html>
{% endblock %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Create offer</title>
</head>
    <div class="container">
        <div class="row mb-2">
          <div class="col">
    <p><h1 class="text-center">Create job offer</h1> </p>

    <form id="offerForm" method="POST">
        <div id='employmentFormContent'>
        {% csrf_token %}

            <p>
               <h3>Offer</h3>
            </p>
        {{ offer_form.as_p }}
        {{ employment_formset.management_form }}
        <h4>{% trans 'Employment'%}</h4>
            {% for f in employment_formset  %}
                {{ f }}
                <p></p>
            {% endfor %}
        </div>
        <div class="social-auth-links text-center mt-2 mb-3">
         <p></p><button type="submit" class="btn btn-primary" class="toast-bottom-center">Save</button></p>
        </div>
    </form>
        <div class="social-auth-links text-center mt-2 mb-3">
            <p></p><button onclick="addInput() " class="btn btn-primary" >Add input</button></p>
        </div>
    <script>
        function addInput(){
            let forms = document.querySelector('#id_employments-TOTAL_FORMS');
            let newProfInput = document.getElementById("id_employments-0-profession").cloneNode(true);
            newProfInput.name = 'employments-'+forms.value+'-profession';
            newProfInput.id = 'id_employments-'+forms.value+'-profession';
            let newDescInput = document.getElementById('id_employments-0-description').cloneNode(true);
            newDescInput.name = 'employments-'+forms.value+'-description';
            newDescInput.id = 'id_employments-'+forms.value+'-description';
            let newRewInput = document.getElementById('id_employments-0-reward').cloneNode(true);
            newRewInput.name = 'employments-'+forms.value+'-reward';
            newRewInput.id = 'id_employments-'+forms.value+'-reward';
            let newStatInput = document.getElementById('id_employments-0-status').cloneNode(true);
            newStatInput.name = 'employments-'+forms.value+'-status';
            newStatInput.id = 'id_employments-'+forms.value+'-status';
            let newDelInput = document.getElementById('id_employments-0-DELETE').cloneNode(true);
            newDelInput.name = 'employments-'+forms.value+'-DELETE';
            newDelInput.id = 'id_employments-'+forms.value+'-DELETE';
            document.querySelector('#employmentFormContent').append(newProfInput);
            document.querySelector('#employmentFormContent').append(newDescInput);
            document.querySelector('#employmentFormContent').append(newRewInput);
            document.querySelector('#employmentFormContent').append(newStatInput);
            document.querySelector('#employmentFormContent').append(newDelInput);
            let p = document.createElement('p');
            document.querySelector('#employmentFormContent').append(p);
            forms.value = parseInt(forms.value) + 1;
        }
    </script>
    </div>
    </div>
{% endblock %}
</html>