{% extends "format/base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/select2/css/select2.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/bs-stepper/css/bs-stepper.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/dropzone/min/dropzone.min.css' %}">
     <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/fontawesome-free/css/fontawesome.css' %}">

    <link rel="stylesheet" href="{% static  'lib/adminlte-3.0.4/plugins/fontawesome-free/css/all.min.cs' %}">

     <link rel="stylesheet" href="{%  static 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}>
  <!-- Google Font: Source Sans Pro -->

{% endblock %}

{% block content %}
    <!-- Header Employments sdsd-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <h1 class="m-0"><i class="fa fa-suitcase" aria-hidden="true"></i> Employments</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- End header Employments -->

    <!-- start Content  Main Page-->

<!-- end Content Main Page -->
    <div class="headerfixed" >
		<!-- Header start -->

	<!-- End of header -->
	</div>
	<!-- End of header section -->
<div class="col-md-9" style="margin-right: auto;margin-left:auto;">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a class="#nav-link active" href="#activity" data-toggle="#tab" style="margin:auto;">

                          <h1><strong>OFERTAS DE TRABAJO</strong></h1>
                      </a>
                  </li>

                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user1-128x128.jpg" alt="imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jonathan Burke Jr.</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compartido públicamente: hoy a las 7:30 p.m.</font></font></span>
                      </div>
                      <!-- /.user-block -->

                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font><font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font></font></p>



                         <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>

                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user7-128x128.jpg" alt="Imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sarah Ross</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Te envió un mensaje hace 3 días</font></font></span>
                      </div>
                      <!-- /.user-block -->
                      <p><font style="vertical-align: inherit;">

                          <font style="vertical-align: inherit;">

                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font>
                          <font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font>

                          {% for offer in offers %}
    <a href="{% url 'job_offer' offer.id %}">Offer {{ offer.id }}</a>
    <p></p>
{% endfor %}
{% if offer %}
    Offer {{ offer.id }}
    Date: {{ offer.creation_date|date:"M d, Y" }}
    City: {{ offer.city }}
    <br>
    {% for employment in offer.employments.all %}
        {{ employment.profession }}:
        {{ employment.description }}
        Payment:{{ employment.reward }}
        <br>
    {% endfor %}
{% endif %}

                        </font>
                      </p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user6-128x128.jpg" alt="Imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adam Jones</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicado 5 fotos - hace 5 días</font></font></span>
                      </div>
                      <!-- /.user-block -->
                          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font><font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font></font></p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>


                    </div>


                           <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user6-128x128.jpg" alt="Imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adam Jones</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicado 5 fotos - hace 5 días</font></font></span>
                      </div>
                      <!-- /.user-block -->
                          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font><font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font></font></p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>


                    </div>

                        <!-- Post -->
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user7-128x128.jpg" alt="Imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sarah Ross</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Te envió un mensaje hace 3 días</font></font></span>
                      </div>
                      <!-- /.user-block -->
                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font><font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font></font></p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>
                    </div>

                        <!-- Post -->
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user7-128x128.jpg" alt="Imagen de usuario">
                        <span class="username">
                          <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sarah Ross</font></font></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Te envió un mensaje hace 3 días</font></font></span>
                      </div>
                      <!-- /.user-block -->
                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Lorem ipsum representa una larga tradición para diseñadores, tipógrafos y similares. </font><font style="vertical-align: inherit;">Algunas personas lo odian y abogan por su desaparición, pero otras ignoran el odio, ya que crean herramientas increíbles para ayudar a crear texto de relleno para todos, desde los amantes del tocino hasta los fanáticos de Charlie Sheen.
                      </font></font></p>

                      <form class="form-horizontal">
                        <div class="input-group input-group-sm mb-0">


                            <button type="submit" class="btn btn-danger" style="margin-right: auto;margin-left: auto;width: 50%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me interesa</font></font></button>

                        </div>
                      </form>
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          3 Jan. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
			<!-- End of main content section -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.0.4/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js'%} "></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/dropzone/min/dropzone.min.js' %}"></script>


    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>

      <script src="{%  static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
     <script src="{%  static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->

   <script src="{% static 'lib/adminlte-3.0.4/js/demo.js' %}"></script>
    <script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
  })
</script>



{% endblock %}