{% extends "format/base.html" %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">User
                            Profile
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 ">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            {% if professional.profile_picture %}
                                <img class="img-circle"
                                     src="{{ professional.profile_picture.url }}"
                                     alt="User Image" width=150px
                                     height="150">
                            {% endif %}
                        </div>

                        <h3 class="profile-username text-center">{{ user.username }}</h3>


                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Phone</b> <a
                                    class="float-right">{{ professional.phone }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <a
                                    class="float-right">{{ user.email }}</a>
                            </li>
                        </ul>
                        {% if user.id != request.user.id %}
                            <a href="../../startChat/{{ user.id }}"
                               class="btn btn-primary btn-block"><b>Start
                                chat</b></a>
                        {% else %}
                            <a href="../editProfile/"
                               class="btn btn-primary btn-block"><b>Edit
                                profile</b></a>
                        {% endif %}
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 ">
                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title">Info</h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="far fa-file-alt mr-1"></i>
                            Full name</strong>

                        <p class="text-muted">
                        <ul>
                            <li>{{ user.first_name }} {{ user.last_name }}</li>
                        </ul>

                        <strong><i class="fas fa-pencil-alt mr-1"></i>
                            DNI
                        </strong>

                        <p class="text-muted">
                        <ul>{% if professional.id_image %}
                            <li>
                                <a href="{{ professional.id_image.url }}"
                                   target="_blank">{{ professional.id_number }}</a>
                            </li>

                        {% else %}
                            <p>Has no doc</p>
                        {% endif %}</ul>

                        </p>


                        <strong><i
                                class="fas fa-map-marker-alt mr-1"></i>
                            Location</strong>
                        <p class="text-muted">
                        <ul>
                            <li> {{ professional.city }}</li>
                        </ul>
                        </p>


                        <strong><i class="fas fa-book mr-1"></i>
                            Profession</strong>

                        <p class="text-muted">
                            {% if professions %}
                                {% for profession in professions %}
                                    <ul>
                                        <li> {{ profession }}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>Has no professions</p>
                            {% endif %}
                        </p>


                        <strong><i class="fas fa-pencil-alt mr-1"></i>
                            Register
                            Date</strong>

                        <p class="text-muted">
                            {{ professional.creation_date }}
                        </p>

                        <strong><i class="fas fa-book mr-1"></i>
                            Studies</strong>

                        <p class="text-muted">
                            {% if studies %}
                                {% for study in studies %}
                                    <h5> {{ study.name }}</h5>
                                    <ul>
                                        <li> School
                                            : {{ study.school }}</li>
                                        <li>Profession
                                            : {{ study.profession }}</li>
                                        {% if study.image %}
                                            <li>
                                                <a href="{{ study.image.url }}"
                                                   target="_blank">See
                                                    diploma</a></li>
                                        {% endif %}
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>Has no studies</p>
                            {% endif %}
                        <p></p>
                        {% if user.id == request.user.id %}
                            <div>
                                <a href="../addStudy"
                                   class="btn btn-sm btn-primary">Add
                                    Studies
                                </a>
                            </div>
                        {% endif %}
                        <hr>
                        <strong><i class="fas fa-book mr-1"></i>
                            Jobs</strong>

                        <p class="text-muted">
                            {% if jobs %}
                                {% for job in jobs %}
                                    <h5> {{ job.profession }}</h5>
                                    <ul>
                                        <li>{{ job.description }}</li>
                                        <li>Start date
                                            : {{ job.start_date }}</li>
                                        <li>Finish date
                                            : {{ job.finish_date }}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>Has no jobs</p>
                            {% endif %}
                        </p>

                        {% if user.id == request.user.id %}
                            <div>
                                <a href="../addJob"
                                   class="btn btn-sm btn-primary">Add
                                    Jobs
                                </a>
                            </div>
                        {% endif %}
                        <hr>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts %}
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
{% endblock %}
